@font-face {
  font-family: 'Uxum-Grotesque';
  src: url(/resources/fonts/UxumGrotesqueGX.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: uxum;
  src: url(../assets/fonts/UxumGrotesqueGX.ttf);
}

*{
  font-family: uxum;
}

.login-window {
  z-index: 50;
  box-sizing: border-box;
  padding: 20px;
  width: 520px;
  position: relative;
  background: rgb(15, 15, 15);
  border-radius: 15px;
  /* backdrop-filter: blur(15px); */
  /* -webkit-backdrop-filter: blur(15px); */
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-window h1 {
  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 30px;
  line-height: 49px;
  color: #1E1E1E;
}

.login-window h3 {
  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 24px;
  line-height: 24px;
  color: #8E8E8E;
}

.login-window .input-box #email-id-field {
  /* Email Id Field */
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 30px;
  width: 100%;
  height: 60px;
  background: #FFFFFF;
  color: #1E1E1E;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
  font-size: 20px;
}

#email-id-field::placeholder {
  /* Email Address */
  
  width: 100%;
  height: 100%;

  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 16px;
  color: #8E8E8E;
}

.login-window .input-box #password-field {
  /* Password Field */

  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 20px;
  width: 100%;
  height: 60px;
 
  top: 264px;
  color: #1E1E1E;

  background: #FFFFFF;
  border: 1px solid #C7C7C7;
  border-radius: 10px;
}

#password-field::placeholder {
  /* Password */

  
  width: 100%;
  height: 16px;
 

  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 16px;

  color: #8E8E8E;
}

.login-window .input-box input[type=text] {
  /* input field text */

  
  width: 228px;
  height: 16px;
  

  padding-left: 22px;
  
  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 56px;
  line-height: 16px;
}

/* .login-window .input-box .reset-password-div {
  top: 334px;
} */

.login-window .input-box .reset-password-div #reset-line {
  /* Don’t you remember password? */

  


  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 16px;

  color: #8E8E8E;
}

.login-window .input-box .reset-password-div #reset-line-button {
  /* Reset Here */

  
 

  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-decoration: none;

  color: #8E8E8E;
}

.login-button-div{
  /* background: #a8a6a6; */
  z-index: 999;
}

.login-window .login-button-div p {
  /* New here? Create your account now */

  


  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 16px;

  color: #8E8E8E;


}

#login-button{
  margin: 20px 0;
  background: #dadada;
}

.login-window .login-button-div a {
  text-decoration: none;
  /* New here? Create your account now */

  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.login-window .divider-div {
  /* Divider */

  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 16px;
 
}

.login-window .divider-div #divider-1 {
  /* Line 49 */

  width: 45%;
  float: left;

  border: 1px solid rgba(255, 255, 255, 0.125);

}

.login-window .divider-div #divider-2 {


  width: 45%;
  float: right;

  border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-window .divider-div p {
  /* or */

  
  float: centre;
  

  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 250;
  font-size: 16px;
  line-height: 16px;

  color: rgba(255, 255, 255, 0.5);
}

.login-window #login-button-with-google {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  font-family: 'Uxum Grotesque';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  margin-top: 20px;
}

.login-window #login-button-with-google:hover {
  background-color: #111928;
  transition: 300ms;
}



@media screen and (max-width:426px) {
  .login-window{
      transform: scale(0.7);
  }
  .navbar{
      display: none;
  }
  #email-id-field,
  #password-field{
      padding-left: 20px;
      color: #1E1E1E;
      font-size: 4vw;
  }
}

@media screen and (max-width:376px) {
  .login-window{
      transform: scale(0.8);
  }

}





